<!DOCTYPE html>
<html>
<head>
  <title>Star Drinks</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all" %><!-- <label id="code.slt"/> -->
<!-- END:stylesheet -->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->
</head>
<body id="store">
  <div id="banner">
  <%= @page_title || "Star Drinks" %><!-- <label id="code.depot.e.title"/> -->
  </div>
  <div id="columns">
    <div id="side">
	  <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
        <% end %>
      <% end %>
	  <div id="cart">
	  
		
	  </div>
      <a href="http://www....">Home</a><br />
	  <a href="http://www..../about">About</a><br />
      <a href="http://www..../review">Products</a><br />
	  <a href="http://www..../faq">Help</a><br />
      <a href="http://localhost:3000/contact/new.html.erb">Contact</a><br />
	  
	  <% if session[:user_id] %>
        <br />
        <%= link_to 'Orders', orders_path %><br />
        <%= link_to 'Products', products_path %><br />
        <%= link_to 'Users', users_path %><br />
        <br />
        <%= button_to 'Logout', logout_path, :method => :delete %>
      <% end %>
    </div>
    <div id="main">
	<h1>Star Drinks Catalogue</h1>

  <div class="entry">
	<img alt="Neil Ellis Wines" src="\\assets\images\open-uri20150520-3302-bxuh5v-.jpeg" />
	<h3>Neil Ellis Wines:Inglewood Sauvignon Blanc</h3>
Perennially popular Sauvignon Blanc from Stellenbosch Stalwart Neil Ellis Wines. The Inglewood Sauvignon Blanc has predominant flavours of tropical fruit with herbaceous overtones, whilst the overall impression is of elegance and delicacy with a long flavoursome finish. - See more at: http://www.cybercellar.com/wines/neil-ellis-wines-inglewood-sauvignon-blanc--2#2015
	<div class="price_line">
	  <span class="price">R45.00</span>
	  <form action="/line_items?product_id=6" class="button_to" data-remote="true" method="post"><div><input type="submit" value="Add to Cart" /><input name="authenticity_token" type="hidden" value="1ymfQEhmtum0e/EpDDSPRuiDzkpaf1JIBLRPdicQE+Y=" /></div></form>
	</div>
  </div>
  <div class="entry">
	<img alt="Raka: Biography Shiraz" src="//assets/images/Raka_Biography_Shiraz.jpeg" />
	<h3>Raka: Biography Shiraz.</h3>
	The Raka Biography Shiraz offers a kaleidoscope of black berry, violets, vanilla and white pepper aromas and flavours in 2011. The lush texture, seamless and complex structure adds to elegance and refinement. A great track record of awards including Platter 5 Stars and Top 100 status makes this a great value wine and very firm customer favourite. - See more at: http://www.cybercellar.com/wines/raka-biography-shiraz#2011
	<div class="price_line">
	  <span class="price">R95.00</span>
	  <form action="/line_items?product_id=7" class="button_to" data-remote="true" method="post"><div><input type="submit" value="Add to Cart" /><input name="authenticity_token" type="hidden" value="1ymfQEhmtum0e/EpDDSPRuiDzkpaf1JIBLRPdicQE+Y=" /></div></form>
	</div>
  </div>
  <div class="entry">
	<img alt="Sommelier Select" src="/assets/images/swartland_shiraz_zwartlandjpeg" />
	<h3>Sommelier Select: Zwartland Shiraz</h3>
	One of the top selling wines on Star Drinks - produced exclusively for Sommelier Select and retailed exclusively by Star Drinks. This is your next favourite Shiraz for everyday drinking, guaranteed. Rhone in style with a burst of red and black berries on the nose, superb balance and a smooth, very moreish palate - See more at: http://www.cybercellar.com/wines/sommelier-select-zwartland-shiraz#2012
	<div class="price_line">
	  <span class="price">R45.00</span>
	  <form action="/line_items?product_id=5" class="button_to" data-remote="true" method="post"><div><input type="submit" value="Add to Cart" /><input name="authenticity_token" type="hidden" value="1ymfQEhmtum0e/EpDDSPRuiDzkpaf1JIBLRPdicQE+Y=" /></div></form>
	</div>
  </div>
  <div class="entry">
	<img alt="Stoney Croft" src="/assets/images/Shiraz_Btl_Shotjpeg" />
	<h3>Stoney Croft: Shiraz</h3>
	Stoney Croft shiraz is a fruit-driven, full-bodied and balanced quality red wine with a sleek palate offering. You will find a generous taste of sumptuous plums, opulent berries and an array of spices. An elegant oak finish with a hint of sweet vanilla or smokey liquorice on the nose can be noted. - See more at: http://www.cybercellar.com/wines/stoney-croft-shiraz#2007
	<div class="price_line">
	  <span class="price">R60.00</span>
	  <form action="/line_items?product_id=3" class="button_to" data-remote="true" method="post"><div><input type="submit" value="Add to Cart" /><input name="authenticity_token" type="hidden" value="1ymfQEhmtum0e/EpDDSPRuiDzkpaf1JIBLRPdicQE+Y=" /></div></form>
	</div>
  </div>
  <div class="entry">
	<img alt="Simonsig Estate" src="/assets/images/open-uri20140925-21552-t7bmq7-jpeg" />
	<h3>Simonsig Estate: Chenin Blanc</h3>
	Sun ripe grapes add to concentration of complex fruit flavours on the palate with hints of honey and raisins. - See more at: http://www.cybercellar.com/wines/simonsig-estate-chenin-blanc-2011#2014
	<div class="price_line">
	  <span class="price">R45.00</span>
	  <form action="/line_items?product_id=4" class="button_to" data-remote="true" method="post"><div><input type="submit" value="Add to Cart" /><input name="authenticity_token" type="hidden" value="1ymfQEhmtum0e/EpDDSPRuiDzkpaf1JIBLRPdicQE+Y=" /></div></form>
	</div>
  </div>
  <div class="entry">
	<img alt="VMont Du Toit" src="/assets/images/open-uri20130604-14063-177cnko-.peng" />
	<h3>VMont Du Toit : Les Coteaux Shiraz</h3>
	Very dark, velvety red wine with a sweet smokey whiff of cigar box upfront. Followed by prunes and plummy aromas on the palate, characteristic of this noble cultivar. Although perfectly drinkable now, this well structured wine will benefit from good cellaring for future use. Will complement rich red meat dishes, steaks and venison pie. - See more at: http://www.cybercellar.com/wines/mont-du-toit-shiraz#2011
	<div class="price_line">
	  <span class="price">R56.60</span>
	  <form action="/line_items?product_id=2" class="button_to" data-remote="true" method="post"><div><input type="submit" value="Add to Cart" /><input name="authenticity_token" type="hidden" value="1ymfQEhmtum0e/EpDDSPRuiDzkpaf1JIBLRPdicQE+Y=" /></div></form>
	</div>
  </div>
  <div class="entry">
	<img alt="Rustenberg" src="/assets/images/Rustenberg_1682_White.jpeg" />
	<h3>Rustenberg: Est. 1682 White</h3>
	This fresh and zesty white blend features the mouth-watering aroma of ripe melon, with crisp flavours of passion fruit and peach, and a gentle creamy texture. It can be enjoyed on its own, or perfectly paired with creamy pasta dishes, pizza or fish cakes. This delicious blend was created from small batches of wine made from hand-picked grapes, which were combined in perfect proportions by the seasoned cellar team and matured on their lees for 2 to 3 months. - See more at: http://www.cybercellar.com/wines/rustenberg-est-1682-white--2#2012
	<div class="price_line">
	  <span class="price">R25.00</span>
	  <form action="/line_items?product_id=1" class="button_to" data-remote="true" method="post"><div><input type="submit" value="Add to Cart" /><input name="authenticity_token" type="hidden" value="1ymfQEhmtum0e/EpDDSPRuiDzkpaf1JIBLRPdicQE+Y=" /></div></form>
	</div>
  </div>
<!-- <label id="code.depot.e.include"/> -->
    </div>
     # <%= yield %><!-- <label id="code.depot.e.include"/> -->
    </div>
  </div>
</body>
</html>